.image-text {
  font-size: 25px;
}

@media (min-width: 800px) {
  .image-text {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  .image-text {
    font-size: 40px;
  }
}

.learn-more-btn {
  font-weight: 700;
}

@media (min-width: 800px) {
  .learn-more-btn {
    font-weight: 200;
  }
}

@media (min-width: 1200px) {
  .learn-more-btn {
    font-weight: 500;
  }
}

#bg-image {
  height: 100%;
}

@media (min-width: 500px) {
  #bg-image {
    height: 150%;
  }
}

@media (min-width: 1200px) {
  #bg-image {
    height: 100%;
  }
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.navbar-toggler {
  background-color: transparent;
  border: 1px solid green;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

